# Ignore directories
*/*Debug*/
**/*Release*/
**/*gecko_sdk*/




# Ignore macOS and Windows system files
.DS_Store
Thumbs.db

# Ignore user-specific files
*.swp
*.swo
*.log

# Example: Ignore autogen or generated folders (if present)
**/autogen*/
**/GNU ARM*/


# (Optional) Ignore other temporary or IDE-specific files#
.metadata/
outgoing/
.browser/