<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.silabs.ss.tool.energyprofiler.si32.launch">
    <booleanAttribute key="com.silabs.ide.si32.debug.EAPROFILER_CODE_CORRELATION" value="true"/>
    <stringAttribute key="com.silabs.ss.framework.debugger.core.BOARDS" value=""/>
    <stringAttribute key="com.silabs.ss.framework.debugger.core.DEFAULT_ADAPTER" value=""/>
    <stringAttribute key="com.silabs.ss.framework.debugger.core.MCU" value=""/>
    <stringAttribute key="com.silabs.ss.framework.debugger.core.TIF" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="GNU ARM v10.3.1 - Default/Peripheral-Re-designed.axf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Peripheral-Re-designed"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.silabs.ss.framework.project.toolchain.core.default#com.silabs.ss.tool.ide.arm.toolchain.gnu.cdt:10.3.1.20210824"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Peripheral-Re-designed"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.profile"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;&#13;&#10;"/>
</launchConfiguration>
